.allCourses {
  background-color: white;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  padding: 25px;
}

@media (max-width: 576px) {
  .allCourses {
    padding: 5px;
  }
}

.allCourses table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.allCourses table tr {
  border-bottom: 1px solid rgb(223, 222, 222);
  margin: 30px 0;
}

@media (max-width: 576px) {
  .allCourses table th {
    font-size: 0.6rem;
    padding: 0 5px;
  }

  .allCourses table td {
    font-size: 0.6rem;
    padding: 0 5px;
  }
}

.allCourses table thead th {
  padding-bottom: 20px;
}

.allCourses table tr td {
  padding: 20px 0;
}

.allCourses table .delete-btn,
.allCourses table .edit-btn {
  padding: 10px 12px;
  color: white;
  font-family: "BYekan";
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}

@media (max-width: 576px) {
  .allCourses table .delete-btn,
  .allCourses table .edit-btn {
    font-size: 0.6rem;
    padding: 5px 8px;
  }
}

.allCourses table .edit-btn {
  background-color: #007bff;
}

.allCourses table .edit-btn:hover {
  background-color: #0062cc;
}

.allCourses table .delete-btn {
  background-color: #c00;
}

.allCourses table .delete-btn:hover {
  background-color: rgb(180, 1, 1);
}
